In [42]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt             #visualisation   
%matplotlib inline
sns.set(color_codes=True)

In [43]:
Cars = pd.read_csv('data.csv')

In [44]:
print(len(Cars))

11914

In [3]:
Cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
Cars.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,11914.0,2010.384338,7.579740,1990.0,2007.0,2015.0,2016.00,2017.0
Engine HP,11845.0,249.386070,109.191870,55.0,170.0,227.0,300.00,1001.0
Engine Cylinders,11884.0,5.628829,1.780559,0.0,4.0,6.0,6.00,16.0
Number of Doors,11908.0,3.436093,0.881315,2.0,2.0,4.0,4.00,4.0
highway MPG,11914.0,26.637485,8.863001,12.0,22.0,26.0,30.00,354.0
city mpg,11914.0,19.733255,8.987798,7.0,16.0,18.0,22.00,137.0
Popularity,11914.0,1554.911197,1441.855347,2.0,549.0,1385.0,2009.00,5657.0
MSRP,11914.0,40594.737032,60109.103604,2000.0,21000.0,29995.0,42231.25,2065902.0

In [7]:
Cars['Popularity'].value_counts()
#Need more understanding of Popularity data and meaning of its value

1385    1123
5657     881
873      809
2031     746
1851     626
2009     558
549      515
2202     449
586      423
1624     397
617      353
481      351
3916     334
190      330
3105     328
1439     303
870      281
640      256
204      252
1720     231
436      213
454      202
155      196
1013     187
210      186
61       164
26       150
258      143
1715     136
376      111
259       93
535       82
520       74
2774      69
819       62
105       60
238       58
1158      52
86        31
613       29
1391      18
130       17
67        16
113        5
416        5
2          3
21         3
820        3
Name: Popularity, dtype: int64

In [39]:
duplicate_rows_Cars = Cars[Cars.duplicated()]
print("number of duplicate rows: ", duplicate_rows_Cars.shape)

number of duplicate rows:  (0, 16)

In [40]:
Cars = Cars.drop_duplicates()
print(len(Cars))

11199

In [13]:
Cars.corr()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
Year,1.000000,0.336208,-0.034148,0.247574,0.244972,0.188417,0.085874,0.209635
Engine HP,0.336208,1.000000,0.788433,-0.129278,-0.415452,-0.446855,0.042499,0.659174
Engine Cylinders,-0.034148,0.788433,1.000000,-0.149877,-0.617420,-0.598708,0.038640,0.538712
Number of Doors,0.247574,-0.129278,-0.149877,1.000000,0.114673,0.120682,-0.057235,-0.144925
highway MPG,0.244972,-0.415452,-0.617420,0.114673,1.000000,0.886299,-0.017159,-0.166631
city mpg,0.188417,-0.446855,-0.598708,0.120682,0.886299,1.000000,-0.000549,-0.162343
Popularity,0.085874,0.042499,0.038640,-0.057235,-0.017159,-0.000549,1.000000,-0.048371
MSRP,0.209635,0.659174,0.538712,-0.144925,-0.166631,-0.162343,-0.048371,1.000000

In [17]:
Cars.groupby(by='Make').size().sort_values()

Make
Spyker              2
Genesis             3
Bugatti             3
McLaren             5
Alfa Romeo          5
Maybach            16
HUMMER             17
Tesla              18
Lotus              28
Rolls-Royce        31
Lamborghini        52
Maserati           55
Scion              60
FIAT               62
Ferrari            69
Plymouth           71
Bentley            74
Aston Martin       91
Saab              109
Oldsmobile        132
Porsche           136
Land Rover        139
Lincoln           160
Pontiac           181
Chrysler          187
Buick             190
Lexus             202
Mitsubishi        208
Kia               229
Subaru            239
Acura             246
Hyundai           259
Volvo             266
Audi              321
BMW               324
Infiniti          328
Mercedes-Benz     341
Suzuki            342
Cadillac          396
Mazda             412
Honda             433
GMC               482
Dodge             529
Nissan            551
Volkswagen        568
Toyota            719
Ford              825
Chevrolet        1083
dtype: int64

In [ ]:
#This looks like Popularity of Chevrolet is an outlier/error, needs to varify and correction

In [59]:
Cars.groupby(by=['Make', 'MSRP']).size().sort_values()

Make        MSRP
Honda       37775      1
Lincoln     52670      1
            52595      1
            52055      1
            51785      1
                    ...
Chevrolet   2000      76
Oldsmobile  2000      76
Volvo       2000      77
Ford        2000      87
Dodge       2000     165
Length: 8825, dtype: int64

In [ ]:
make_by_price = Cars.groupby(by=['Make', 'MSRP']).agg({'MSRP': 'median'})
make_by_price.hist()

In [56]:
Cars.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64